BASE_URL=https://uat-prs-eu.sadhguru.org
ADULT_EVENT_PATH=/event/participant-registration-non-sso-106
MINOR_EVENT_PATH=/event/minor-registration-non-sso-103

TEST_NAME=Playwright Test User
TEST_EMAIL=testuser+pw@example.com
TEST_PHONE=9876543210
TEST_WA_PHONE=9876543211
TEST_AGE=28
TEST_COUNTRY=India
TEST_PINCODE=560001

DISCOUNT_CODE=IET10m2yz

STRIPE_CARD_NUMBER=4242424242424242
STRIPE_EXPIRY=12/30
STRIPE_CVC=123
